<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.wearable.permission.BIND_WEARABLE_LISTENER" />

    <application>
        <receiver
            android:name=".location.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.futsch1.medtimer.GEOFENCE_TRANSITION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".wear.WatchActionListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/medtimer/action"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>
