<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="com.futsch1.medtimer.NOTIFICATION_PROCESSED" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />
    <uses-permission android:name="com.futsch1.medtimer.NOTIFICATION_PROCESSED" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:logo="@mipmap/logo"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedTimer">

        <service
            android:name=".ReminderSchedulerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MedTimer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MedTimerAppIntro"
            android:theme="@style/Theme.MedTimer" />

        <receiver
            android:name=".Autostart"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".reminders.ReminderProcessor"
            android:enabled="true"
            android:exported="false"
            android:permission="com.futsch1.medtimer.NOTIFICATION_PROCESSED"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.futsch1.medTimer.REMINDER_ACTION" />
                <action android:name="com.futsch1.medTimer.RESCHEDULE_ACTION" />
                <action android:name="com.futsch1.medTimer.DISMISSED_ACTION" />
                <action android:name="com.futsch1.medTimer.TAKEN_ACTION" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.futsch1.medtimer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <receiver
            android:name=".widgets.NextRemindersWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_reminders_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.LatestRemindersWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/latest_reminders_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.WidgetUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.futsch1.medtimer.WIDGET_UPDATE" />
            </intent-filter>

        </receiver>

    </application>

</manifest>