<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:minSdkVersion="29"
        tools:ignore="BackgroundLocationPolicy" />

    <application android:icon="@mipmap/logo">
        <receiver
            android:name=".location.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.futsch1.medtimer.GEOFENCE_TRANSITION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
