<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:supportsRtl="true">
        <!-- zxing-android-embedded's own manifest hardcodes screenOrientation="sensorLandscape"
             on its CaptureActivity, so the scanner never shows in portrait. Override it here. -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:node="merge" />
        <activity
            android:name=".nfc.NfcActionActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.MedTimer2">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="medtimer" android:host="take" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="medtimer" android:host="refill" />
            </intent-filter>
        </activity>
    </application>

</manifest>
