<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:supportsRtl="true">
        <activity
            android:name=".nfc.NfcActionActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.MedTimer2">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="medtimer" android:host="take" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="medtimer" android:host="refill" />
            </intent-filter>
        </activity>
    </application>

</manifest>
