<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".ReminderSchedulerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".alarm.ReminderAlarmActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <receiver
            android:name=".ReminderProcessorBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="com.futsch1.medtimer.NOTIFICATION_PROCESSED" />

        <receiver
            android:name=".widgets.NextRemindersWidgetProvider"
            android:exported="false"
            android:label="@string/next_reminders">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_reminders_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.LatestRemindersWidgetProvider"
            android:exported="false"
            android:label="@string/recent_events">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/latest_reminders_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.WidgetUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.futsch1.medtimer.WIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
