name: Build

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [main]

env:
  APK_RELEASE_DIRECTORY: app/build/outputs/apk/release
  AAB_RELEASE_DIRECTORY: app/build/outputs/bundle/release
  BUILD_TOOLS_HOME: /usr/local/lib/android/sdk/build-tools

permissions:
  contents: read

jobs:
  build:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository)
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: "17"
          distribution: temurin
          cache: gradle
      - uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2
        with:
          dependency-graph: generate-and-submit

      - name: Release
        run: ./gradlew assembleRelease
      - name: Release bundle
        run: ./gradlew bundleRelease

      - name: Sign AAB
        run: |
          echo -n "${{ secrets.SIGNING_KEYSTORE }}" | base64 --decode >> $AAB_RELEASE_DIRECTORY/signingKey.jks
          jarsigner -keystore $AAB_RELEASE_DIRECTORY/signingKey.jks -storepass ${{ secrets.SIGNING_KEYSTORE_PASSWORD }} \
            -keypass ${{ secrets.SIGNING_ALIAS_PASSWORD }} $AAB_RELEASE_DIRECTORY/MedTimer-release.aab ${{ secrets.SIGNING_ALIAS }}
        continue-on-error: true
      - name: Upload App Bundle
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: aab
          path: ${{env.AAB_RELEASE_DIRECTORY}}/MedTimer-release.aab

      - name: Setup build tool version variable
        shell: bash
        run: |
          BUILD_TOOLS_VERSION=$(ls $BUILD_TOOLS_HOME | tail -1)
          echo "BUILD_TOOLS_PATH=$BUILD_TOOLS_HOME/$BUILD_TOOLS_VERSION" >> $GITHUB_ENV
      - name: Sign APK
        run: |
          echo -n "${{ secrets.SIGNING_KEYSTORE }}" | base64 --decode >> $APK_RELEASE_DIRECTORY/signingKey.jks
          ${{ env.BUILD_TOOLS_PATH }}/apksigner sign --ks $APK_RELEASE_DIRECTORY/signingKey.jks --ks-key-alias ${{ secrets.SIGNING_ALIAS }} \
            --alignment-preserved \
            --ks-pass pass:${{ secrets.SIGNING_KEYSTORE_PASSWORD }} --key-pass pass:${{ secrets.SIGNING_ALIAS_PASSWORD }} \
            --out $APK_RELEASE_DIRECTORY/MedTimer-release-signed.apk \
            $APK_RELEASE_DIRECTORY/MedTimer-release-unsigned.apk
          rm $APK_RELEASE_DIRECTORY/MedTimer-release-unsigned.apk
        continue-on-error: true
      - name: Upload App Package
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: apk
          path: ${{env.APK_RELEASE_DIRECTORY}}/MedTimer-release-signed.apk

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@1c89adf39833729d8f85a31ccbc451b078733c80 # v1.19.1
        with:
          artifacts: app/build/outputs/bundle/release/*.aab,app/build/outputs/apk/release/*.apk
          generateReleaseNotes: true
