name: Build

on:
  workflow_dispatch:
  push:

env:
  APK_RELEASE_DIRECTORY: app/build/outputs/apk/release
  AAB_RELEASE_DIRECTORY: app/build/outputs/bundle/release
  BUILD_TOOLS_HOME: /usr/local/lib/android/sdk/build-tools

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up JDK 17
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - uses: gradle/actions/setup-gradle@0bdd871935719febd78681f197cd39af5b6e16a6 # v4.2.2
        with:
          dependency-graph: generate-and-submit

      - name: Release
        run: ./gradlew assembleRelease
      - name: Release bundle
        run: ./gradlew bundleRelease

      - name: Sign AAB
        run: |
          echo -n "${{ secrets.SIGNING_KEYSTORE }}" | base64 --decode >> $AAB_RELEASE_DIRECTORY/signingKey.jks
          jarsigner -keystore $AAB_RELEASE_DIRECTORY/signingKey.jks -storepass ${{ secrets.SIGNING_KEYSTORE_PASSWORD }} \
            -keypass ${{ secrets.SIGNING_ALIAS_PASSWORD }} $AAB_RELEASE_DIRECTORY/MedTimer-release.aab ${{ secrets.SIGNING_ALIAS }}
        continue-on-error: true
      - name: Upload App Bundle
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: aab
          path: ${{env.AAB_RELEASE_DIRECTORY}}/MedTimer-release.aab

      - name: Setup build tool version variable
        shell: bash
        run: |
          BUILD_TOOLS_VERSION=$(ls $BUILD_TOOLS_HOME | tail -1)
          echo "BUILD_TOOLS_PATH=$BUILD_TOOLS_HOME/$BUILD_TOOLS_VERSION" >> $GITHUB_ENV
      - name: Sign APK
        run: |
          echo -n "${{ secrets.SIGNING_KEYSTORE }}" | base64 --decode >> $APK_RELEASE_DIRECTORY/signingKey.jks
          ${{ env.BUILD_TOOLS_PATH }}/apksigner sign --ks $APK_RELEASE_DIRECTORY/signingKey.jks --ks-key-alias ${{ secrets.SIGNING_ALIAS }} \
            --alignment-preserved \
            --ks-pass pass:${{ secrets.SIGNING_KEYSTORE_PASSWORD }} --key-pass pass:${{ secrets.SIGNING_ALIAS_PASSWORD }} \
            --out $APK_RELEASE_DIRECTORY/MedTimer-release-signed.apk \
            $APK_RELEASE_DIRECTORY/MedTimer-release-unsigned.apk
          rm $APK_RELEASE_DIRECTORY/MedTimer-release-unsigned.apk
        continue-on-error: true
      - name: Upload App Package
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: apk
          path: ${{env.APK_RELEASE_DIRECTORY}}/MedTimer-release-signed.apk

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@cdcc88a9acf3ca41c16c37bb7d21b9ad48560d87 # v1.15.0
        with:
          artifacts: "app/build/outputs/bundle/release/*.aab,app/build/outputs/apk/release/*.apk"
          generateReleaseNotes: true
