name: Firebase test

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: "17"
          distribution: temurin
          cache: gradle
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Build with gradle
        run: ./gradlew assembleDebug
      - name: Build tests with gradle
        run: ./gradlew assembleDebugAndroidTest
      - id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MEDTIMER_60CC6 }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
        with:
          version: ">= 363.0.0"
      - name: Set current project
        run: gcloud config set project medtimer-60cc6
      - name: Run Instrumentation Tests in Firebase Test Lab
        run: gcloud firebase test android run tests.yml:medium-phone-arm --use-orchestrator --environment-variables clearPackageData=true
      - name: Run Robo Tests in Firebase Test Lab
        run: gcloud firebase test android run robo.yml:medium-phone-arm
