name: Firebase test

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: "17"
          distribution: temurin
          cache: gradle
      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Build with gradle
        run: ./gradlew assembleDebug
      - name: Build tests with gradle
        run: ./gradlew assembleDebugAndroidTest
      - id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MEDTIMER_60CC6 }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
        with:
          version: ">= 363.0.0"
      - name: Set current project
        run: gcloud config set project medtimer-60cc6
      - name: Run Instrumentation Tests in Firebase Test Lab
        run: gcloud firebase test android run tests.yml:medium-phone-arm --use-orchestrator --environment-variables clearPackageData=true
      - name: Run Robo Tests in Firebase Test Lab
        run: gcloud firebase test android run robo.yml:medium-phone-arm
