name: Firebase test

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: set up JDK 17
        uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with gradle
        run: ./gradlew assembleDebug
      - name: Build tests with gradle
        run: ./gradlew assembleDebugAndroidTest
      - id: 'auth'
        uses: google-github-actions/auth@8254fb75a33b976a221574d287e93919e6a36f70 # v2.1.6
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MEDTIMER_60CC6 }}
      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a # v2.1.2
        with:
          version: '>= 363.0.0'
      - name: Set current project
        run: gcloud config set project medtimer-60cc6
      - name: Run Instrumentation Tests in Firebase Test Lab
        run: gcloud firebase test android run tests.yml:medium-phone-arm --use-orchestrator --environment-variables clearPackageData=true
      - name: Run Robo Tests in Firebase Test Lab
        run: gcloud firebase test android run robo.yml:medium-phone-arm
