name: Firebase test

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b # v4.3.0

      - name: Build with gradle
        run: ./gradlew assembleDebug
      - name: Build tests with gradle
        run: ./gradlew assembleDebugAndroidTest
      - id: 'auth'
        uses: google-github-actions/auth@6fc4af4b145ae7821d527454aa9bd537d1f2dc5f # v2.1.7
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MEDTIMER_60CC6 }}
      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a # v2.1.2
        with:
          version: '>= 363.0.0'
      - name: Set current project
        run: gcloud config set project medtimer-60cc6
      - name: Run Instrumentation Tests in Firebase Test Lab
        run: gcloud firebase test android run tests.yml:medium-phone-arm --use-orchestrator --environment-variables clearPackageData=true
      - name: Run Robo Tests in Firebase Test Lab
        run: gcloud firebase test android run robo.yml:medium-phone-arm
