name: MonkeyTest

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  monkey-test:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository)
    runs-on: ubuntu-latest
    env:
      target_api_level: 36
      profile: medium_phone

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: "17"
          distribution: temurin
          cache: gradle
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: AVD cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ env.target_api_level }}-${{ env.profile }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: ${{ env.target_api_level }}
          arch: x86_64
          target: google_apis
          profile: ${{ env.profile }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-metrics
          disable-animations: true
          script: echo "Generated AVD snapshot for caching."

      - name: Run Android monkey test
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: ${{ env.target_api_level }}
          profile: ${{ env.profile }}
          arch: x86_64
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-metrics
          disable-animations: true
          script: |
            adb shell settings put global auto_time 0
            adb shell su 0 date 01012100
            ./gradlew packageDebug
            adb shell input keyevent 3
            adb shell settings put secure long_press_timeout 1500
            adb uninstall com.futsch1.medtimer || true
            adb install -g app/build/outputs/apk/debug/MedTimer-debug.apk
            adb shell monkey -p com.futsch1.medtimer -v 10000 --throttle 20
          cores: 4
