name: Update store listing

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update_listing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Set up JDK 17
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4.4.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - uses: gradle/actions/setup-gradle@d156388eb19639ec20ade50009f3d199ce1e2808 # v4.1.0
        with:
          dependency-graph: generate-and-submit
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Publish listing
        run: ./gradlew publishListing