name: Update store listing

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update_listing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: "17"
          distribution: temurin
          cache: gradle
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          dependency-graph: generate-and-submit
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Publish listing
        run: ./gradlew publishListing
